@model IEnumerable<MyApp.Model.Employee>
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Using Partial View</title>
</head>
<body>
         @foreach (var item in Model)
         {
             var aa = @Html.Partial("_PartialViewOne", item);


             //always use Html.RenderPartial inside curly braces it is fast b/c directly written to output stream

             
             //@{ Html.RenderPartial("_PartialViewOne", item);
             //}
         }
</body>
</html>

