@{
    Layout = null;
}

<!DOCTYPE html>
@*this page must be named as Error and it HandleError attribute only searches this view*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       <h2>oops Something went wrong</h2>
    </div>
</body>
</html>
